<div mat-dialog-content>
    <h3>Order Date: {{invoice.orderDate | date}}</h3>

    <h3>Services</h3>
    <div *ngFor="let lineItem of invoice.lineItems">
        <mat-list>
            <mat-list-item>
                {{lineItem.service.description}}   {{lineItem.service.price | currency}}
            </mat-list-item>
           
        </mat-list>
    </div>

<h3>Standard Fees</h3>
    <mat-list>
        <mat-list-item>
            Parts: {{invoice.partsAmount | currency}}
        </mat-list-item>
        
        <mat-list-item>
            Labor: {{invoice.laborAmount | currency}}
        </mat-list-item>
    </mat-list>
    <h3>Total Charges: {{invoice.total | currency}}</h3>
<mat-dialog-actions>
    <button mat-raised-button matDialogClose="cancel">Cancel</button>
    <button mat-raised-button matDialogClose="confirm" cdkFocusInitial>Confirm Order</button>
</mat-dialog-actions>
</div>
