<!--
============================================
; Title: forgot-password-dialog.component
; Author: Adam Donner
; Date: 01/16/2020
; Modified By: Adam Donner
; Description: User enrollment
;===========================================
-->
<div fxLayout="column">
  <!-- include the stepper liner requires form to be valid before continuing -->
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="userNameForm">
      <form [formGroup]="userNameForm">
        <ng-template matStepLabel>Username</ng-template>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <mat-form-field fxFlex>
            <input
              type="text"
              matInput
              formControlName="username"
              placeholder="Enter Username"
              autofocus
            />
            <mat-error *ngIf="errorMessage">Invalid Username</mat-error>
          </mat-form-field>
        </div>
        <div fxLayoutAlign="end" fxLayoutGap="10px" style="padding-top:30px;">
          <button mat-raised-button (click)="cancel()">Cancel</button>
          <button mat-raised-button matStepperNext (click)="validUserName()">Next</button> ,<!--this does not work-->
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
