
                <form [formGroup]="form" (ngSubmit)="create(); form.reset()" #securityQuestionForm="ngForm">


                        <mat-form-field>
                            <input type="text" matInput [formControl]="form.controls['text']" placeholder="New Question Text" fxFlex/>
                        </mat-form-field>
                        <br/>

                    <mat-card-actions>
                        <div fxFlex></div>
                        <button type="submit" mat-raised-button>Create</button>
                        <button (click)="cancel()" mat-raised-button>Cancel</button>
                    </mat-card-actions>
                </form>
 

