
<!--
============================================
; Title: not-found
; Author: Reva Baumann
; Date: 01/06/2020
; Modified By: Reva Baumann
; Description: 404 Page
;===========================================
-->

<div class="container">
  <mat-card color="accent" class="form">
    <mat-card-content class="message">
      <h1>Sorry, this page doesn't exist.</h1>
      <h3>Error 404</h3>
      <button (click)="goHome()" mat-button color="primary">
        Home
      </button>
    </mat-card-content>
  </mat-card>
</div>
