<!--
============================================
; Title: {{Title}}
; Author: Troy Martin
; Date: xx/xx/20xx
; Modified By: Troy Martin
; Description: {{Title}}
;===========================================
-->
<div fxLayout="column" class="body">
    <!-- navigation -->
    <nav>
      <mat-toolbar>
        <!-- navbar container -->
        <!--logo-->
        <img src="/assets/bobslogo.png" width="150px" height="120px">
      </mat-toolbar>
    </nav>

    <!-- main content -->
    <div class="content">
        <router-outlet></router-outlet>
    </div>

</div>
