<!--
============================================
; Title: user-detail-dialog.component
; Author: Reva Baumann
; Date: 01/09/2020
; Modified By: Troy Martin
; Description: User config CreateUser
;===========================================
-->
<div fxLayout="column">
  <app-user-form (title)="title" [(user)]="user"></app-user-form>

  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <button mat-raised-button (click)="cancel()">
      Cancel
    </button>
    <button type="button" (click)="saveUser()" mat-raised-button color="primary">
      Submit
    </button>
  </div>
</div>
