<!--
============================================
; Title: base-layout.component
; Author: Richard Krasso
; Date: 01/06/2020
; Modified By: Adam Donner, Troy Martin
; Description: Base layout
;===========================================
-->
<div class="body">
  <div fxLayout="column">
    <!-- navigation -->
    <nav fxFlex>
      <mat-toolbar>
        <mat-toolbar-row>
          <!-- logo -->
          <button class="logo" routerLink="/" mat-button>BCRS</button>
          <div fxFlex></div>

          <button class="navbar-link" mat-button [matMenuTriggerFor]="menu">Administration</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/admin/users">Users</button>
            <button mat-menu-item routerLink="/admin/security-questions">Security Questions</button>
          </mat-menu>
          <button class="navbar-link" mat-button>About Us</button>
          <button class="navbar-link" mat-button>Contact Us</button>
          <button class="navbar-link" mat-button (click)="logout()">Logout</button>
        </mat-toolbar-row>
      </mat-toolbar>
    </nav>

    <!-- main content -->
    <div fxFlex>
      <main class="main-content" fxFlex="100%;">
        <router-outlet></router-outlet>
      </main>
    </div>

    <!-- footer -->
    <div fxFlex>
      <footer class="footer">
        <mat-toolbar class="footer-content">
          <p>
            &copy; {{ year | date: "yyyy" }} - Bob's Computer Repair Shop -
            <a href="https://www.bellevue.edu/" class="bu-link" target="_blank"
              >Bellevue University</a
            >
          </p>
        </mat-toolbar>
      </footer>
    </div>
  </div>
</div>
