.table-container {
  height: 400px;
  overflow: auto;
}

.mat-raised-button {
  background-color: #81d4fa;
  color: black;
}

:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
